# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Xcode Related //https://stackoverflow.com/questions/15646107/gitignore-for-everything-inside-the-xcuserdata-folder-does-not-ignore-an-xcuser/32899573. This method of ignoring will ignore ALL xcuserdata folders in the repo.
*/xcuserdata/*
*xcuserdata*

## Other
*.moved-aside

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace 

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
.DS_Store

# Manage Partner Keys
loafwallet/partner-keys.plist
loafwallet/GoogleService-Info.plist

