<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC58u1MhxC27M-eWBHO60czLz08f4rrAMw</string>
	<key>GCM_SENDER_ID</key>
	<string>969229325957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litewallet.newborn</string>
	<key>PROJECT_ID</key>
	<string>litewallet-newborn-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>litewallet-newborn-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969229325957:ios:b96117f47e5a662f41bbec</string>
</dict>
</plist>