<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>infura-api</key>
	<string>2YGowD11MJDoYKgjbyEpeYhywPd</string>
	<key>litewallet-ops</key>
	<string>ltc1qqd9rgzeqxhjsfuvtuypq3ugqrhg30nqcq990nc</string>
</dict>
</plist>
