<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RUN_FIREBASE</key>
	<string>YES</string>
	<key>MXP_DEV_ENV</key>
	<string>1bc7f0d029f05d37480b227c24df2004</string>
	<key>MXP_PROD_ENV</key>
	<string>773cfa76d8f0a30772a5e9d1802736d</string>
</dict>
</plist>
