<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>change-now-api</key>
	<string>7b83a10fb3fe19af99b443299cf09c264719d2aeb9a13d069334f24e102e79ea</string>
	<key>infura-api</key>
	<string>133cd3eb9adb448ebbe811ca08cfcbdf</string>
</dict>
</plist>
